async-generator
attrs
certifi
charset-normalizer
exceptiongroup
h11
idna
outcome
PySocks
requests
selenium
sniffio
sortedcontainers
trio
trio-websocket
undetected-chromedriver
urllib3
websockets
wsproto
xlwt
